{% extends 'base.html' %}
{% block title %}Proyectos - JFGC ⇒ Dev{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-5 text-center display-4">Trabajos personales</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for project in projects %}
    <div class="col">
      <div class="card h-100 shadow">
        {% if project.preview %}
          {# sacamos los últimos 4 caracteres y comparamos con ".mp4" #}
          {% if project.preview.url|lower|slice:"-4:" == ".mp4" %}
            <video
              src="{{ project.preview.url }}"
              autoplay muted loop playsinline
              preload="metadata"
              poster="{{ project.image.url }}"
              aria-label="Preview de {{ project.name }}"
              class="card-img-top">
              Tu navegador no soporta vídeo.
            </video>
          {% else %}
            <img
              src="{{ project.preview.url }}"
              alt="Preview de {{ project.name }}"
              class="card-img-top">
          {% endif %}
        {% else %}
          <img
            src="{{ project.image.url }}"
            alt="{{ project.name }}"
            class="card-img-top">
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text mb-4">
            {{ project.description|truncatechars:120 }}
          </p>
          {% if project.url %}
            <a
              href="{{ project.url }}"
              class="btn btn-primary mt-auto"
              target="_blank">
              Ver Proyecto
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
