{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Portfolio{% endblock %}
<!-- Extiende la plantilla base y define el título. -->

{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <!-- Columna izquierda con el título animado -->
        <div class="col-12 col-lg-6 text-center text-lg-start mb-4 mb-lg-0">
            <div class="animated-text-container">
                <h1 class="animated-text">¿Desarrollamos el futuro?</h1>
                <!-- Texto animado para captar atención -->
            </div>
        </div>

        <!-- Columna derecha con tarjeta de perfil -->
        <div class="col-12 col-lg-6 text-center">
            <div class="profile-card mx-auto">
                <div class="profile-image-container mx-auto">
                    <!-- Imagen de perfil -->
                    <img src="{% static 'images/profile.jpg' %}" class="profile-image" alt="Foto de perfil">
                </div>
                <div class="card-body">
                    <h5 class="card-title mt-3">José Félix</h5>
                    <p class="card-text">Desarrollador Fullstack</p>
                </div>
                <!-- Iconos de redes sociales -->
                <div class="social-icons d-flex justify-content-center align-items-center mt-4">
                    <a href="https://wa.me/+34639949187" target="_blank" rel="noopener noreferrer" class="mx-2">
                        <i class="fab fa-whatsapp whatsapp-icon"></i>
                    </a>
                    <a href="https://github.com/AmeriK88" target="_blank" rel="noopener noreferrer" class="mx-2">
                        <i class="fab fa-github github-icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jose-felix-gordo-casta%C3%B1o-dev-es/" target="_blank" rel="noopener noreferrer" class="mx-2">
                        <i class="fab fa-linkedin linkedin-icon"></i>
                    </a>
                </div>
            </div>
        </div>        
    </div>

    <!-- Habilidades con íconos -->
    <div class="mt-4 text-center">
        <h5>Habilidades</h5>
        <div class="d-flex justify-content-center flex-wrap mt-3">
            <!-- Íconos de habilidades con descripción alternativa -->
            <img src="{% static 'icons/git.webp' %}" alt="Git" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/html5.webp' %}" alt="HTML5" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/css3.webp' %}" alt="CSS3" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/javascript.webp' %}" alt="JavaScript" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/python.webp' %}" alt="Python" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/django.webp' %}" alt="Django" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/bootstrap.webp' %}" alt="Bootstrap" class="m-2" style="width: 30px;">
            <img src="{% static 'icons/react.webp' %}" alt="React" class="m-2" style="width: 30px;">
        </div>
    </div>

    <!-- Sección "Acerca de mí" -->
    <div id="about" class="about-section mt-5">
        <h2 class="about-title">Acerca de mí</h2>
        <p class="about-text mt-3">
            ¡Hola! Soy José, desarrollador web con pasión por crear soluciones digitales modernas y eficaces. Me especializo en <strong>Django</strong> para construir aplicaciones web dinámicas y robustas. También tengo experiencia en automatización con <strong>Python</strong> y librerías como <strong>Kivy</strong> y KivyMD, además de sólidos conocimientos en <strong>HTML5, CSS3</strong> y <strong>JavaScript</strong>.
            <br><br>
            Actualmente, estoy ampliando mis habilidades con <strong>React</strong> y <strong>Node.js</strong>, trabajando en proyectos que desafían mi creatividad y crecimiento.
        </p>
        <a href="{% static 'docs/cv.pdf' %}" class="cta-button cta-section" download>Descargar CV</a>
    </div>

    
     <!-- Call-to-Action -->
     <div class="cta-section text-center my-5">
        <h2 class="cta-text mb-4">¿Tienes un proyecto en mente?</h2>
        <p class="cta-subtext mb-5">¡Hablemos y construyamos algo increíble juntos!</p>
        <a href="https://wa.me/+34639949187" class="cta-button" target="_blank" rel="noopener noreferrer">
            ¡Contáctame Ahora!
        </a>
    </div>
</div>
{% endblock %}
